@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Odibee+Sans&family=Space+Mono&display=swap');

:root {
    --main-font: 'Odibee Sans', cursive;
    --secondary-font: 'Questrial', Arial, Helvetica, sans-serif;
    
    --black: #121212;
    --white: #ffffff;
    --color-accent: #ceeb7a;
    --greenish: #d8e497cf;
    --grey: #cbcbcb;

    --line-global: 24px;
    --gutter-global: calc(var(--line-global) * 2);
}

/********** GLOBAL ************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--secondary-font);
  font-weight: normal;
  color: var(--black);
  background-color: var(--white);
  line-height: 1.3;
  overflow: hidden;
}

h1 {
  font-family: var(--main-font);
  font-weight: normal;
}

h2 {
  font-family: var(--secondary-font);
  font-weight: normal;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: normal;
}

h4 {
  font-family: var(--secondary-font);
  font-size: 32px;
  font-weight: normal;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/********** NAV ************/
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 99;
    background: var(--white);
    transition: background 350ms cubic-bezier(0, 0, 0.2, 1) 0s;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    will-change: background;
    overflow: hidden;
    /* border-bottom: 1px solid #F7F4F0; */
}

nav h1 { 
  padding: 24px;
  color: var(--black);
  float: left;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 24px;
}

nav ul li {
  display: inline-block;
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 1vw;
}

nav ul li a {
  position: relative;
  padding: 8px 0;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

nav ul li a:hover {
  opacity: 70%;
}

label #sign-one, label #sign-two {
  color: var(--black);
  font-size: 24px;
  float: right;
  margin-top: 32px;
  margin-right: 32px;
  line-height: 40px;
  cursor: pointer;
  display: none;
}

#res-menu {
  display: none;
}


#nav-icon {
  display: none;
  transition: all 3s ease-in-out 0.5s;
}


/***************** BUTTON ***************/
button {
  font-family: var(--secondary-font);
  background-color: var(--greenish);
  color: var(--black);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 32px;
  padding: 8px 48px;
  transition: all 0.6s ease-in-out;
  margin: 0 auto;
}

button:hover {
  background-color: var(--color-accent);
}


/***************** FOOTER ***************/

.styled-footer {
  display: flex;
  background-color: #121212
}

footer {
  background-color: #121212;
  color: #F7F4F0;
  margin: 0 auto;
}


#footer-footer {
  text-align: center;
  margin: 0;
  padding: 0 24px 24px 24px;
  font-size: 12px;
}

#footer-icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 16px;

}


.container h1, h2, p{
  max-width: 1280px;
  margin: 0 auto;
}

.container p {
  font-size: 32px;
  font-family: var(--secondary-font);
  text-align: center;
  margin: 0 auto;
}

span {
  font-family: var(--main-font);
  font-weight: bold;
}

#hero-text {
  font-size: 32px;
  margin-top: 80px;
  max-width: 1280px;
  word-wrap: normal;
  line-height: 1.8;
  text-align: center;
}


#home-page-cta button {
  display: flex;
  margin-bottom: 24px;
}





.cssanimation, .cssanimation span {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to { opacity: 1 }
}

.img-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 96px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 48px;
}

.wrapper p {
  font-size: 16px;
}

.wrapper h4 {
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 16px;
}



.container, .card-container, .img-wrapper, .case-studies-text, .case-study {
    padding: 24px;
    margin: auto;
    width: 100%;
    max-width: 1232px;
  }
  
  .card-container {
    padding-bottom: 96px;
  }

/********* WORK PAGE **********/

.case-studies-text {
  margin: 96px auto;
  padding-top: 48px;
  max-width: 1280px;
}

.case-studies-text h3, h5, h6 {
  margin: 0;
}

.case-studies-text h3 {
  padding-bottom: 24px;
}

.case-studies-text h5 {
  font-weight: normal;
  font-family: var(--secondary-font);
}

.case-studies-text h6 {
  font-weight: normal;
  font-family: var(--secondary-font);
  font-size: 16px;
}


#designing {
  font-size: 24px;
  padding-bottom: 48px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-container .img-wrapper {
  padding: 0;
}

.grid-container.skills {
  grid-template-columns: auto auto auto;
}

.item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

}

.item1 p {
  margin: 0;
  padding: 12px 0 0 0;
}

.case-study-spacer {
  border-bottom: 1px solid var(--grey);
  padding: 48px 0;
}

.case-study-spacer-2 {
  border: none;
  padding: 48px 0;
}

.text-on-right {
  display: flex;
  justify-content: center;
  align-items: left;
  margin-left: 96px;
}

#workflow {
  padding: 48px 0;
}

.workflow-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.workflow-grid-item {
  display: inline-block;
}

.workflow-section p {
  padding-bottom: 48px;
}

.workflow-section h4 {
  padding-bottom: 8px;
}

.workflow-numbers p {
  padding: 0;
  margin: 0;
}


/*********** CAYA  *************/
.case-study {
  margin: 96px auto;
  padding-top: 48px;
  max-width: 1280px;
}



h6 {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 40px;
}

.case-study p {
  padding: 24px 0 0 0;
  line-height: 1.6;
}

.case-study .img-wrapper {
  padding: 48px 0 0 0;
}

.case-study h3 {
  font-family: var(--secondary-font);
  font-weight: bold;
  padding: 48px 0 0 0;
  margin: 0;
  font-size: 18px;
}

.half-wrapper {
  width: 50%;
}

.case-study h4 {
  margin: 0;
  padding: 0;
}

.numbers {
  padding: 24px 0;
}

.numbers h4 {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 24px;
}

.case-study-grid {
  padding-top: 48px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 24px;
}

.challenge {
  padding-bottom: 24px;
}

.grid-item-full {
  grid-column: span 2;
}

.grid-item-half {
  grid-column: span 1;
}

.button-container {
  padding-top: 96px;
  display: flex;
}

.next {
  display: flex;
  justify-content: right;
}


/*********** About Page ***************/

.about-wrapper {
  margin-top: 112px;
}


.about-wrapper p {
  display: flex;
}

#bio {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  padding: 32px 0 0 0;
  text-align: left;
}

.half-wrapper p span {
  font-size: 24px;
}

.icons {
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  padding: 16px 0;
}
.icons:hover {
  opacity: .8;
  color: var(--greenish);
}

.bio-wrapper {
  max-width: 480px;
}

.bio-wrapper h3 {
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 24px;
}



#about-button {
  display: flex;
  margin: 24px auto;
}

#about-button button {
  margin: 24px;
}

.skill-icon-wrapper {
  display: grid;
  
  
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 24px;
}

/*********** Contact Page ***************/

.contact-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inquiries {
  font-size: 14px;
}

.contact-link {
  margin: 0 auto;
  padding-bottom: 24px;
}



/************* 404 PAGE ***************/


#nope {
  margin-top: 112px;
}




/********** MOBILE BREAKPOINT ************/
@media only screen and (max-width: 870px) {
  .all-content {
    width: 100%;
  }
  .half-wrapper {
    max-width: 768px;
    width: 100%;
  }
  
  #caya img {
    width: 100%;
  }
  
  /* MOBILE NAV */
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--white);
    top: 80px;
    left: -100%;
    padding-top: 128px;
    text-align: left;
    transition: .7s;
    z-index: 100;
  }

  nav ul li {
    padding-top: 8px;
    display: block;
    /* margin: 24px; */
    line-height: 64px;
  }

  nav ul li a {
    font-size: 24px;
  }

  label #sign-one {
    display: block;
  }
  #res-menu:checked ~ ul{
    left: 0;
  }
  #res-menu:checked ~ label #sign-one{
    display: none;
  }
  #res-menu:checked ~ label #sign-two{
    display: block;
  }

  #nav-icon {
    display: flex;
  }
  #nav-icon:hover {
    color: #ceeb7a;
  }

  #hero-text {
    line-height: 1.4;
    text-align: left;
  }

  .button-container {
    padding: 16px 0;
  }

  .wrapper {
    display: block;
  }


  
  /* WORK PAGE */
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
  }

  .item2 .flip {
    order: -1;
  }

  .case-studies-text {
    margin-bottom: 0;
  }

  .case-studies-text h3 {
    padding-bottom: 0;
  }

  .text-on-right {
  justify-content: left;
  margin: 0;
}

  .case-studies-text h5 {
    font-size: 12px;
  }

  .grid-container .img-wrapper {
    padding: 24px 0;
  }

  .grid-container.skills {
    grid-template-columns: auto auto auto;
  }

  .case-study {
    margin-bottom: 0;
  }

  .case-study .img-wrapper {
    padding-top: 16px;
  }

  .case-study-grid {
    display: block;
  }

  .grid-item-full, .grid-item-half {
    padding-bottom: 24px;
  }

  .workflow-section h4 {
    font-size: 32px;
}

  .workflow-grid {
  display: block;
}

  .workflow-grid-item {
    width: 100%;
  }


}


